.introduction {
  margin-top: -60px;
  padding-top: 70px;
  height: 100vh;

  & > p {
    text-align: center;
  }
  & > h1 {
    @extend p;
  }

  & .aboutme_and_contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Merriweather', sans-serif;
    flex-direction: row;
    align-items: center;

    & > div {
      // border: 1px black solid;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      & .article {
        margin: 0;
        padding: 0;
        // border: 1px red solid;
        width: 40vw;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

        & > div {
          margin-bottom: 25px;
          & .technos-icon {
            margin: 10px;
            font-size: 50px;
            border-radius: 50%;
            padding: 10px;
            z-index: 99;
            box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
              0 5px 15px rgba(0, 0, 0, 0.07);
          }
        }
      }
      & > .btn-resume {
        & > span {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

#JavaScript,
#HTML {
  animation: come-and-go 5s linear infinite;
}
#ReactJS,
#NodeJS,
#CSS {
  animation: come-and-go-reverse 5s linear infinite;
}

@keyframes come-and-go {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: TranslateX(10px);
  }
  50% {
    transform: TranslateX(15px);
  }
  75% {
    transform: TranslateX(5px);
  }
  100% {
    transform: TranslateX(0px);
  }
}
@keyframes come-and-go-reverse {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: TranslateX(-5px);
  }
  50% {
    transform: TranslateX(-10px);
  }
  75% {
    transform: TranslateX(-5px);
  }
  100% {
    transform: TranslateX(0px);
  }
}

@media screen and (max-width: 900px) {
  .introduction {
    height: 100vh;

    & > p {
      text-align: center;
    }
    & > h1 {
      @extend p;
    }

    .aboutme_and_contact {
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      // align-content: center;
      align-items: center;
      justify-content: center;
      background-color: green;

      & > div {
        border: 1px black solid;
        height: 40%;
        margin: 0;
        // height: 60vh;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;

        & .article {
          margin: 0;
          padding: 15px;
          border: 1px red solid;
          width: 100vw;
          height: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-content: flex-start;

          & > div {
            // margin-bottom: 25px;
            & .technos-icon {
              margin: 10px;
              font-size: 2.5rem;
              border-radius: 50%;
              padding: 10px;
              z-index: 99;
              box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.07);
            }
          }
        }
      }
      & .svg-styling {
        width: 50%;
        height: 70%;
      }
    }
  }
}
