.introduction {
  margin-top: -60px;
  padding-top: 70px;
  height: 100vh;

  & > p,
  h1 {
    text-align: center;
  }

  & .aboutme_and_contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Merriweather', sans-serif;
    // line-height: 1.75em;
    // align-items: center;
    flex-direction: row;
    align-items: center;

    & .article {
      width: 40vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      height: max-content;

      & .technos-icon {
        margin-right: 20px;
        margin-top: 20px;
        font-size: 50px;
      }
    }
    // & .social_media {
    //   margin-right: 10px;
    //   margin-left: 30px;
    //   display: flex;
    //   flex-direction: row;
    //   & .icon_styling {
    //     & .icon {
    //       margin-right: 10px;
    //       width: 20px;
    //       font-size: 1.5em;
    //       color: #111;
    //       &:hover {
    //         color: blue;
    //       }
    //     }
    //   }
    // }
  }
}

// h3 {
//   margin-bottom: 5%;
//   font-size: 40px;
// }
// .article > p {
//   font-size: 17.5px;
// }

// .skills > p {
//   font-size: 17px;
// }
// .first_article {
//   flex-grow: 2;
// }
// .second_article {
//   width: fit-content;
// }

// .contact {
//   display: flex;
//   flex-direction: row;
// }

// .icon_styling {
//   display: flex;
//   flex-direction: column;
//   justify-self: center;
//   height: fit-content;
// }

// .social_med_title {
//   margin-left: 5%;
//   color: #111;
// }

// .icon {
//   width: 20px;
//   font-size: 1.5em;
// }
// a {
//
//   text-decoration: none;
// }

#JavaScript,
#HTML {
  animation: come-and-go 5s linear infinite;
}
#ReactJS,
#NodeJS,
#CSS {
  animation: come-and-go-reverse 5s linear infinite;
}

@keyframes come-and-go {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: TranslateX(10px);
  }
  50% {
    transform: TranslateX(15px);
  }
  75% {
    transform: TranslateX(5px);
  }
  100% {
    transform: TranslateX(0px);
  }
}
@keyframes come-and-go-reverse {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: TranslateX(-5px);
  }
  50% {
    transform: TranslateX(-10px);
  }
  75% {
    transform: TranslateX(-5px);
  }
  100% {
    transform: TranslateX(0px);
  }
}

@media (max-width: 1000px) {
  .aboutme_and_contact {
    display: block;
    height: fit-content;
    /* flex-direction: row; */
  }
  .article {
    width: 100vw;
    margin-top: 0;
    padding: 0 3%;
    /* border: 1px black solid; */
  }
  .contact {
    margin-top: 10%;
    margin-bottom: 20%;
  }
}
